<a href="https://colab.research.google.com/github/SteelworkerDB/CD_WEEK2/blob/main/Ejercicios_de_Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICIOS DE GROUPBY

---

In [4]:
import pandas as pd

#CARGA DE DATOS

filename = "https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data"
df=pd.read_csv(filename, header = None)

In [5]:
df.head()

   0         1         2  3
0  7  07/24/05  00:00:00  0
1  9  07/24/05  00:00:00  0
2  7  07/24/05  00:30:00  1
3  9  07/24/05  00:30:00  0
4  7  07/24/05  01:00:00  0

In [6]:
df.rename(columns={0:'Flow_ID',1:'Date',2:'Time',3:'Count'},inplace=True)
df.head()

   Flow_ID      Date      Time  Count
0        7  07/24/05  00:00:00      0
1        9  07/24/05  00:00:00      0
2        7  07/24/05  00:30:00      1
3        9  07/24/05  00:30:00      0
4        7  07/24/05  01:00:00      0

1. SELECCIONAR DATOS

---

In [7]:
#SE ELABORAN LOS FILTROS
filtro_fecha=df['Date']=='07/24/05'
filtro_flow=df['Flow_ID']==7
#SE APLICA EL FILTRO A LAS FILAS, Y A TODAS LAS COLUMNAS
df_filtrado=df.loc[filtro_fecha & filtro_flow,:]
df_filtrado.head()

   Flow_ID      Date      Time  Count
0        7  07/24/05  00:00:00      0
2        7  07/24/05  00:30:00      1
4        7  07/24/05  01:00:00      0
6        7  07/24/05  01:30:00      0
8        7  07/24/05  02:00:00      0

In [8]:
df_filt_ord=df_filtrado.sort_values(by=['Count'], ascending=False) #ORDENANDO LOS VALORES FILTRADOS DE MAYOR A MENOR VALOR EN COUNT
top_10=df_filt_ord.head(10)

In [9]:
top_10=top_10[['Time','Count']] #SOLO MANTENIENDO LA VARIABLE TIME QUE ES LA QUE NOS INTERESA
top_10

        Time  Count
72  18:00:00      4
84  21:00:00      3
76  19:00:00      2
92  23:00:00      2
30  07:30:00      2
10  02:30:00      2
86  21:30:00      2
70  17:30:00      2
68  17:00:00      1
74  18:30:00      1

2. APLICAR FUNCION

---

In [12]:
#UNA OPERACIÓN
mini=top_10['Count'].min()

top_10['Count']=top_10['Count'].apply(lambda x: x-mini)

In [13]:
top_10

        Time  Count
72  18:00:00      3
84  21:00:00      2
76  19:00:00      1
92  23:00:00      1
30  07:30:00      1
10  02:30:00      1
86  21:30:00      1
70  17:30:00      1
68  17:00:00      0
74  18:30:00      0

3. AGRUPAR

---

In [15]:
#SE ELABORAN LOS FILTROS
filtro_fecha=(df['Date']>='08/01/05') & (df['Date']<='08/31/05')
filtro_flow=df['Flow_ID']==7
#SE APLICA EL FILTRO A LAS FILAS, Y A TODAS LAS COLUMNAS
df_filtrado_2=df.loc[filtro_fecha & filtro_flow,:]
df_filtrado_2.head()

     Flow_ID      Date      Time  Count
768        7  08/01/05  00:00:00      1
770        7  08/01/05  00:30:00      0
772        7  08/01/05  01:00:00      0
774        7  08/01/05  01:30:00      0
776        7  08/01/05  02:00:00      0

In [16]:
grupo=df_filtrado_2.groupby('Date') #AGRUPA POR FECHA

In [17]:
conteo_fecha=grupo['Count'].max().reset_index()
conteo_fecha

        Date  Count
0   08/01/05     18
1   08/02/05     16
2   08/03/05     26
3   08/04/05     40
4   08/05/05     17
5   08/06/05      8
6   08/07/05      3
7   08/08/05     16
8   08/09/05     19
9   08/10/05     25
10  08/11/05     16
11  08/12/05     21
12  08/13/05      5
13  08/14/05      3
14  08/15/05     17
15  08/16/05     24
16  08/17/05     22
17  08/18/05     39
18  08/19/05     23
19  08/20/05      3
20  08/21/05      4
21  08/22/05     23
22  08/23/05     25
23  08/24/05     17
24  08/25/05     24
25  08/26/05     22
26  08/27/05      3
27  08/28/05      7
28  08/29/05     15
29  08/30/05     47
30  08/31/05     19